.homeFeatures{

    .content{
        text-align: center;
      
        h3{
            color: red;
            font-weight: 600;
            font-size: 1.5rem;
        }
        p{
            font-size: 1.3rem;
        }
    }

    .CardsContainer{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        grid-gap: 5px;
        margin-top: 2rem;
        margin-bottom: 3rem;
        h4{
            font-size: 1.5rem;
        }
        p{
            color: rgb(121, 121, 121);
        }

        div{
            background: rgb(231, 231, 231);
            color: rgb(46, 46, 46);
            border-radius: 5px;
            padding: .7rem;
        }
    }
 
    .imageGrid{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        transition: ease-in .3s;
        div{
            margin-bottom: 5px;
            border-radius: 5px;
        }
        .img1{
            background-image: url('../../../../public/images/home1.jpg');
            width: 100%;
            height: 300px;
            background-size: cover;

        }

        .img2{
            background-image: url('../../../../public/images/home2.jpg');
            width: 100%;
            height: 300px;
            background-size: cover;
        }

        .img3{
            background-image: url('../../../../public/images/home3.jpg');
            width: 100%;
            height: 300px;
            background-size: cover;
        }
    }
   
}

//Responsivness

@media (min-width: 730px) { 
    .homeFeatures{
        .CardsContainer{
            grid-template-columns: repeat(3, 1fr);
        }
           .imageGrid{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 5px 5px;
                grid-auto-flow: row;
                grid-template-areas:
                  "img1 img2"
                  "img1 img3";
                  transition: ease-out .3s;

              
              .img1 { grid-area: img1; height: 100%;}
              .img2 { grid-area: img2; }
              .img3 { grid-area: img3; }
              
            }

    }
}